

button {
    background-color: cyan;
    font-size: 20px;
    text-rendering: auto;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-shadow: none;
    display: auto;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    padding-top: 10px;
    border-width: 1px;
    margin-top: 30px;


}