<div class="back-button">
  <button class="backbutton" (click)="back()">Exit Game</button>
</div>

<div class="welcome-user-text" *ngFor="let item of data; let i = index">
  Hello, {{ item.name }}!
</div>

<div class="time"> Time in game: {{ seconds }}seconds </div>

<div class="points"> Points: {{ points }} </div>

<div class="gamestatus"> Status: {{ status }} </div>
 
<br />
<div class="game">
  <ngx-snake #game> </ngx-snake>

  <div class="start-stop-reset">
    <button class="start" (click)="game.actionStart()" (click)="startTimer()" (foodEaten)="countPoints()" (gameOver)="gameover()">Start</button>
    <br />
    <button class="pause" (click)="game.actionStop()" (click)="pauseTimer()" >Pause</button>
    <br />
    <button class="reset" (click)="game.actionReset()" (click)="resetTimer()" (foodEaten)="resetPoints()">Reset</button>
    <br />
  </div>

  <div class="position-button">
    <button class="up" (click)="game.actionUp()">></button>
    <br />
    <button class="left" (click)="game.actionLeft()"><</button>
    <br />
    <button class="right" (click)="game.actionRight()">></button>
        <br />
        <button class="down" (click)="game.actionDown()">></button>
  </div>


  <button class="center">O</button>
</div>