<div class="back-button">
  <button class="backbutton" (click)="exit()">Exit Game</button>
</div>
<br/>
<div class="welcome-user-text" *ngFor="let item of data">
  Hello, {{ item.name }}
</div>
<br />
<div class="time">Time in game: {{ seconds }}seconds</div>
<br />

<div class="points">Points: {{ points }}</div>
<br />
<div class="gamestatus">Status: {{ status }}</div>
<br />
<div class="game">
  <ngx-snake #game (foodEaten)="countPoints()" (gameOver)="gameover()">
  </ngx-snake>

  <div class="start-stop-reset">
    <button class="start" (click)="game.actionStart()" (click)="startTimer()">
      Start
    </button>
    <br />
    <button class="pause" (click)="game.actionStop()" (click)="pauseTimer()">
      Pause
    </button>
    <br />
    <button class="reset" (click)="game.actionReset()" (click)="resetTimer()">
      Reset
    </button>
    <br />
  </div>

  <div class="position-button">
    <button class="up" (click)="game.actionUp()">></button>
    <br />
    <button class="left" (click)="game.actionLeft()">></button>
    <br />
    <button class="right" (click)="game.actionRight()">></button>
    <br />
    <button class="down" (click)="game.actionDown()">></button>
  </div>

  <button class="center">O</button>
</div>
