<h3>WELCOME TO NG-SNAKE</h3>
<form [formGroup]="myForm" class="form">
  <div class="form-control">
    <label for="name"> PLAYER NAME: </label>

    <input  name="name" [disabled]="!editing" placeholder="Enter your Name"
      formControlName="name" />

    <span *ngIf="nameGetter?.touched && nameGetter?.errors?.['required']" class="error">
      {{ validationErros.required }}
    </span>
  </div>

  <div class="form-control">
    <label for="email"> EMAIL: </label>
    <input name="email" [disabled]="!editing" placeholder="Enter email adress"
      formControlName="Email" />
    <span *ngIf="emailGetter?.touched && emailGetter?.errors?.['required']" class="error">
      {{ validationErros.required }}
    </span>
    <span *ngIf="emailGetter?.touched && emailGetter?.errors?.['pattern']" class="error">
      {{ validationErros.Email }}
    </span>
  </div>
</form>

<div class="play-button">
  <button [disabled]="myForm.invalid" (click)="play()">
    Play
  </button>
</div>