.container {
    background-color: lightblue;
    // width: auto;
}

h3 {
    font-family: Allerta Stencil, cursive;
    font-style: oblique;
    font-size: 45px;
}

label {
    font-family: sans-serif;
    font-style: oblique;
    font-size: 13px;

}