<div  *ngIf="toDisplay">

        <h3>WELCOME   TO NG-SNAKE</h3>
  <div class="form">

        <h2> PLAYER NAME: </h2>
        <input [(ngModel)]="name"
        [disabled]="!editing"
        placeholder="Enter your Name"/>
        
        
        <h2> EMAIL: </h2>  
        <input
        type="email"
        [(ngModel)]="Email"
        [disabled]="!editing"
        placeholder="Enter email adress" 
        >
        <br/>
   </div>
</div>

<div class="play-button">

        <button *ngIf="editing"
        [disabled] = "!name || !Email"
        (click)="game()" 
        >
        Play
</button>

</div>
<div class="back-button">
        <button *ngIf="!editing"
        (click)="back()">Back</button>
        
</div>





