       
<div *ngIf="toDisplay">

        <h3>Welcome to NG-SNAKE</h3>

        <input [(ngModel)]="name"
        [disabled]="!editing"
        placeholder="Enter your Name"/>
        <br/>


        <input
        name="myInput" 
        ng-model="myInput"
        type="email"
        [(ngModel)]="Email"
        [disabled]="!editing"
        placeholder="Enter email adress" 
        >
        <br/>
      
        
</div>



<button *ngIf="editing"
[disabled] = "!name || !Email"
        (click)="game()" 
      >
        Play
</button>

<button *ngIf="!editing"
        (click)="back()">Back</button>

<br/>




